.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 24px;
    background-color: #ffffffb0;
    border: 4px solid #ef2ecb;
    border-radius: 35px;
    width: 400px;
  }
  
  .label {
    font-size: 17px;
    font-weight: 700;
  }
  
  .input {
    border-radius: 15px;
    height: 25px;
    opacity: 40%;
  }
  
  .button {
    margin-top: 10px;
    background-color: #da34aecb;
    border: 3px solid #eb50c2;
    border-radius: 15px;
    padding: 5px 20px;
  }
  
  .button:hover {
    background: #e92096;
    box-shadow: 0 5px 10px -1px #c21081cf;
  }